@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Mitr', sans-serif;
	font-family: 'Prompt', sans-serif;
	font-size: 13px;
}